/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 200000 [id]
      ,[date]
      ,[name]
      ,[season]
      ,[groupname]
      ,[leaguename]
      ,[sportname]
      ,[link]
      ,[timeReceived]
      ,[rot]
      ,[participantname]
  FROM [DonBest].[dbo].[scheduleViewwithparticipants]